.pd{
    padding: 5rem 4rem;
    background-image: url(../../asset/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}
.pd h3 {
    font-weight: 600;
    font-size: 32px;
    color: #f55f8d;
    text-align: center;
 }
  
.pd h1 {
    text-align: center;
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    color: #262626;
    margin-bottom: 20px;
}
.pd_content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.pd_item {
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transform: translateY(0);
    transition: all 0.5s;
    text-align: center;
}
.pd_item img {
    width: 215px;
}
.pd_item:hover {
    transform: translateY(-20px)
}
.pd_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
}
.pd_item p{
    text-align: left;
}
.pd_item span{
    font-weight: 600;
    margin-left: 1rem;
}
.pd_item ul{
    padding-left: 0rem;
}
.pd_item ul li{
    text-align: left;
}